<%- include("../partials/header") %>

    <form id="SignupForm"  method="post" action="/LoginRequest">
        
        <div class="form-outline" >
            <input type="text" class="form-control" type="text" id="username" name="username" placeholder="user name"  >
        </div>
        
        <div class="form-outline">
            <input class="form-control" type="password" name="password"  placeholder="password">
        </div>
        
    <button type="submit" class="btn btn-large" style="width : 30%; " name="type" value="login">Log in</button>
    <div class="d-flex align-items-center justify-content-center pb-4">
      <p style="font-size:x-small; margin-left:38%">Don't have an account?</p>
      <button class="btn btn-outline-danger" type="submit" name="type" value="Signup" style="width : 30%; " >Create new</button>
    </div>

    </form>

<%- include("../partials/footer") %>
