<%- include("../partials/header") %>

    <form id="SignupForm" method="post" action="SignupRequest">
        
        <div class="form-outline" >
            <input type="text" class="form-control" type="text" id="username" name="username" placeholder="user name"  >
        </div>
        
        <div class="form-outline">
            <input class="form-control" type="password" name="password"  placeholder="password">
        </div>
        <div class="form-outline">
            <input class="form-control" type="email" name="email" placeholder="email"  >
        </div>
        
    <button type="submit" class="btn btn-large">Register</button>

    </form>

<%- include("../partials/footer") %>