<%- include("../partials/header") %>


<form style="padding: 10%;" id="ArticleForm" action="/" type="get" >
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" class="form-control" id="title" placeholder="Enter title">
    </div>
    <div class="form-group">
      <label for="content">Content:</label>
      <textarea class="form-control" id="content" rows="3"></textarea>
    </div>
    <button type="button" class="btn btn-primary" id="articleSubmit">submit</button>
</form>
  

<%- include("../partials/footer") %>