<div class="container">
    
<div class="panel panel-default">
    <div class="panel-body">
      SpaceX's First Starship Launch Tomorrow
    </div>
    <div class="panel-footer"> <span style="display: none;" >

          <button>
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
          </button>
          <button>
              <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
              10
          </button>
          <button >
              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
              1
          </button>

      </span>
      
      15 votes <a href="/">Anonymous </a> 30 mins ago</div>
  </div>

<div class="panel panel-default">
    
    <div class="panel-body">
      FSF Slams Google over Dropping JPEG-XL in Chrome
    </div>

    <!-- Panel footer -->
    <div class="panel-footer">

        <span style="display: none;" >

            <button>
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </button>
            <button>
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                10
            </button>
            <button >
                <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                1
            </button>

        </span>
        
        10 votes <a href="/"> Simonw </a> 14 hrs ago

    </div>
    
  </div>

</div>
